elm for new


<%= form_tag(elm_form_index_path, method: :post) do -%>
  <div id="elm"></div>

  <!--
       <%= label_tag 'fexid' %>
       <%= text_field_tag 'fexid' %>
       <br>
       <%= label_tag 'compid' %>
       <%= text_field_tag 'compid' %>
       <br>
       <%= label_tag 'brid' %>
       <%= text_field_tag 'brid' %>
       <br>
  -->
  <%= submit_tag "Submit"  %>
<% end %>

<%
js_filename = 'elm_form_new.js'
js_file = File.join(Rails.root, 'public', js_filename)
js_mtime =File.mtime(js_file).to_i

flag_data = {base_url: request.base_url}
%>
<script src="<%= "/#{js_filename}?#{js_mtime}" %>"></script>
<script>
 var app = Elm.ElmFormNew.init({ node: document.getElementById('elm'),
                                 flags: <%= raw JSON.generate flag_data %>
 })
 // you can use ports and stuff here
</script>
