<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Trying Elm Ui" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <% # = javascript_importmap_tags %>

    <style>
     .dropbtn {
       background-color: #3498DB;
       color: white;
       padding: 16px;
       font-size: 16px;
       border: none;
       cursor: pointer;
     }

     .dropbtn:hover, .dropbtn:focus {
       background-color: #2980B9;
     }

     .dropdown {
       position: absolute;
       display: inline-block;
     }

     .dropdown-content {
       display: none;
       position: absolute;
       background-color: #f1f1f1;
       max-width: 250px;
       width: max-content;
       max-height:300px;
       overflow: auto;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
     }

     .dropdown-content a {
       color: black;
       padding: 5px 16px;
       text-decoration: none;
       display: block;
     }

     .dropdown a:hover {background-color: #ddd;}
     .dropdown span:hover {background-color: #ddd;}

     .show {display: block;}
    </style>
  </head>
  <body>
    <div>

      <%= link_to 'Home Elm', '/', data: {turbo: false} %>
      |
      <%= link_to 'Purescript Halogen', pure_script_show_halogen_path, data: {turbo: false} %>
      |
      <%= link_to 'Purescript Flame', pure_script_show_flame_path, data: {turbo: false} %>
      |
      <%= link_to 'Rescript 1', re_script_show_path, data: {turbo: false} %>
      |
      <%= link_to 'Form new', elm_form_new_path, data: {turbo: false} %>
      |
      <%= link_to 'Form index', elm_form_index_path, data: {turbo: false} %>

      |
      <%= link_to 'Elm Cocktails', cocktail_elm_path, data: {turbo: false} %>
      |
      <%= link_to 'Halogen Cocktails', cocktail_halogen_path , data: {turbo: false} %>
      |
      <%= link_to 'Flame Cocktails', cocktail_flame_path , data: {turbo: false} %>



    </div>

    <%= yield %>
  </body>
</html>
